<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Admin Dashboard
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}"/>   
    </head>
    <body>
        <header>
            <div class="Pic">
                <h3>Welcome Admin!</h3>
            </div>
            <nav>
                <ul>
                    <li><a href="#status" id="Status">Status</a></li>
                    <li><a href="/users" id="logout">Logout</a></li>
                </ul>
            </nav>
        </header>    
        
        <div class="container2" id="campaigns">
            <h2>Active Campaigns</h2>
                {% if ads %}
                    {% for a in ads %}
                        {% if a.campaigns.progress > 0 and a.campaigns.flag ==0%}
                            <div class="showrequests">
                                <h5>{{ a.campaigns.name }}</h5>
                                <p>{{a.campaigns.description }}</p>
                                <p>Sponsor: {{a.campaigns.sponsor.company }}</p>
                                <p>Sponsor ID: {{a.campaigns.sponsor.id }}</p>
                                <p>Influencer ID: {{a.influencer_id }}</p>
                                <p>Influencer Name: {{a.influencer.fname}} {{a.influencer.lname}}</p>
                                <p>Progress: {{a.campaigns.progress}} %</p>
                            </div> 
                        {% endif %}  
                    {% endfor %}
                {% endif %}
        </div>
    
            
        
        <div class="container">
            <div class="container2">
                <h2>Campaigns</h2>
                {% if cam %}
                    {% for s in cam %}
                        {% if s.flag ==0 %}
                            <div class="campaigns">
                                    <h5>{{s.name}}</h5>
                                    <p>{{s.description}}</p>
                                    <p>Campaign ID: {{s.id}}</p>
                                    <p>Category: {{s.category}}</p>
                                    <p>Start Date: {{s.start_date}}</p>
                                    <p>End Date: {{s.end_date}}</p>
                                    <p>Budget: {{s.budget}}</p>
                                    <p>Goals: {{s.goals}}</p>
                                    <p>Visibility: {{s.visibility}}</p> 
                                    <a class="btn btn-danger flag_campaign" href="/flag_campaign/{{s.id}}/{{aid}}" role="button" id="rcorner">Flag</a>     
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="container2">
                <h2>Flagged Campaigns</h2>
                {% if cam %}
                    {% for s in cam %}
                        {% if s.flag ==1 %}
                            <div class="campaigns">
                                    <h5>{{s.name}}</h5>
                                    <p>{{s.description}}</p>
                                    <p>Campaign ID: {{s.id}}</p>
                                    <p>Category: {{s.category}}</p>
                                    <p>Start Date: {{s.start_date}}</p>
                                    <p>End Date: {{s.end_date}}</p>
                                    <p>Budget: {{s.budget}}</p>
                                    <p>Goals: {{s.goals}}</p>
                                    <p>Visibility: {{s.visibility}}</p> 
                                    <a class="btn btn-danger unflag_campaign" href="/unflag_campaign/{{s.id}}/{{aid}}" role="button" id="rcorner">UnFlag</a>     
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="container">
            <div class="container2">
                <h2>Active Influencers</h2>
                {% if inf %}
                    {% for s in inf %}
                        {% if s.flag ==0 %}
                            <div class="campaigns">
                                <h5>{{ s.fname }} {{s.lname}}</h5>
                                <p>Influencer ID: {{s.id}}</p>
                                <p>City: {{s.city}}</p>
                                <p>Category: {{s.category}}</p>
                                <p>Niche: {{s.niche}}</p>
                                <p>Earnings: {{s.earnings}}</p>
                                <a class="btn btn-danger" href="/flag_influencer/{{s.id}}/{{aid}}" role="button" id="rcorner">Flag</a>
                            </div>
                        {% endif %} 
                    {% endfor %}
                {% endif %}
            </div>
            <div class="container2">
                <h2>Flagged Influencers</h2>
                {% if inf %}
                    {% for s in inf %}
                        {% if s.flag ==1 %}
                            <div class="campaigns">
                                <h5>{{ s.fname }} {{s.lname}}</h5>
                                <p>Influencer ID: {{s.id}}</p>
                                <p>City: {{s.city}}</p>
                                <p>Category: {{s.category}}</p>
                                <p>Niche: {{s.niche}}</p>
                                <p>Earnings: {{s.earnings}}</p>
                                <a class="btn btn-danger" href="/unflag_influencer/{{s.id}}/{{aid}}" role="button" id="rcorner">UnFlag</a>
                            </div>
                        {% endif %} 
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="container">
            <div class="container2">
                <h2>Active Sponsors</h2>
                {% if spon %}
                    {% for s in spon %}
                        {% if s.flag ==0 %}
                            <div class="campaigns">
                                <h5>{{ s.company }}</h5>
                                <p>Sponsor ID: {{s.id}}</p>
                                <p>City: {{s.city}}</p>
                                <p>Industry: {{s.industry}}</p>
                                <p>Budget: $ {{s.budget}} </p>
                                <a class="btn btn-danger" href="/flag_sponsor/{{s.id}}/{{aid}}" role="button" id="rcorner">Flag</a>
                            </div> 
                        {% endif %}    
                    {% endfor %}
                {% endif %}
            </div>
            <div class="container2">
                <h2>Flagged Sponsors</h2>
                {% if spon %}
                    {% for s in spon %}
                        {% if s.flag ==1 %}
                            <div class="campaigns">
                                <h5>{{ s.company }}</h5>
                                <p>Sponsor ID: {{s.id}}</p>
                                <p>City: {{s.city}}</p>
                                <p>Industry: {{s.industry}}</p>
                                <p>Budget: $ {{s.budget}} </p>
                                <a class="btn btn-danger" href="/unflag_sponsor/{{s.id}}/{{aid}}" role="button" id="rcorner">UnFlag</a>
                            </div> 
                        {% endif %}    
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="container2">
            <h2>Ad-Requests</h2>
            {% if ads %}
                     {% for a in ads %}
                            <div class="showrequests">
                                <h5>{{ a.campaigns.name }}</h5>
                                <p>{{a.campaigns.description }}</p>
                                <p>Sponsor: {{a.campaigns.sponsor.company }}</p>
                                <p>Sponsor ID: {{a.campaigns.sponsor.id }}</p>
                                <p>Influencer ID: {{a.influencer_id }}</p>
                                <p>Influencer Name: {{a.influencer.fname}} {{a.influencer.lname}}</p>
                                <p>Request Given by: {{a.last_modified_by}}</p>
                                <p>Payment: {{a.payment}}</p>
                                {% if a.campaigns.flag ==0 %}
                                    <p>Status: {{a.status}}</p>
                                {% else %}
                                    <p>Status: Flagged</p>
                                {% endif %}
                            </div> 
                    {% endfor %}
            {% endif %}
        </div>
           
       
        
        <div class="container2" id="status">
            <h2 class="c-top">Status</h2> 
                {% if status %}
                    {% for s in status %}
                        <img src="/{{s}}" alt="{{ s }}">
                    {% endfor %}
                {% endif %}
        </div>

    </body>
</html>
