<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>
            SponsrConnect
        </title>
        <link rel="stylesheet" type="text/css" href="D:\Github\Influencers-Sponsors-Platform\static\css\start.css"/>    
    </head>
    <body>
        <div class="container" >
            <h1>SPONSRCONNECT</h1>
            <h3>Who are you?</h3>
            <a href="admin_login.html" class="button" id="rcorner">Admin</a>
            <a href="users.html" class="button" id="rcorner">User</a>
        </div>
    </body>
</html>
