<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Influencer Dashboard
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}"/>   
    </head>
    <body>
        <header>
            <div class="Pic">
                <h3>Welcome {{d.fname}} {{d.lname}}!</h3>
            </div>
            <nav>
                <ul>
                    <li><a href="#profile" id="Profile">Profile</a></li>
                    <li><a href="#find" id="Find">Find</a></li>
                    <li><a href="#campaigns" id="Campaigns">Campaigns</a></li>
                    <li><a href="#status" id="Status">Status</a></li>
                    <li><a href="/users" id="logout">Logout</a></li>
                </ul>
            </nav>
        </header>
        {% if d.flag ==0 %}    
            <div class="container2" id="profile">
                <h2 class="c-top">Profile</h2>
                <div class = "details">
                        <div class="row border">
                            <label for="name" class="form-label"><b><i>Name:</i></b> {{d.fname}} {{d.lname}}</label>
                        </div>
                        <div class="row border">
                            <label for="username" class="form-label"><b><i>Username:</i></b> {{d.username}}</label>
                        </div>
                        <div class="row border">
                            <label for="email" class="form-label"><b><i>Email:</i></b> {{d.email}}</label>
                        </div>
                        <div class="row border">
                            <label for="category" class="form-label"><b><i>Category:</i></b> {{d.category}}</label>
                        </div>
                        <div class="row border">
                            <label for="niche" class="form-label"><b><i>Niche:</i></b> {{d.niche}}</label>
                        </div>
                        <a class="btn btn-primary" role="button" id="edit-profile">Edit Profile</a>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div class="alert alert-warning" id="alert">
                            {% for category, message in messages %}
                            <p>{{ message }}</p>
                            {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
                <div class = "showdetails" id="editprofile">
                    <form class="row g-3" method="post" action="/edit_influencer_details/{{d.id}}">
                        <div class="col-md-6">
                            <label for="firstname" class="form-label">First name</label>
                            <input type="text" class="form-control" value="{{d.fname}}" name="fname" id="firstname" required>
                        </div>
                        <div class="col-md-6">
                            <label for="lastname" class="form-label">Last name</label>
                            <input type="text" class="form-control" value="{{d.lname}}"  name="lname" id="lastname" required>
                        </div>
                        <div class="col-md-12">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" value="{{d.city}}"  name="city" id="city" required>
                        </div>
                        <div class="col-md-12">
                            <label for="username" class="form-label">Username</label>
                            <div class="input-group">
                                <span class="input-group-text" id="inputGroup">@</span>
                                <input type="text" class="form-control" value="{{d.username}}"  name="username" id="username" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="category" class="form-label">Category</label>
                            <input type="text" class="form-control" value="{{d.category}}"  name="category" id="category" required>
                        </div>
                        <div class="col-md-6">
                            <label for="niche" class="form-label">Niche</label>
                            <input type="text" class="form-control" value="{{d.niche}}"  name="niche" id="niche" required>
                        </div>
                        <div class="col-md-12">
                            <label for="mail" class="form-label">Email</label>
                            <input type="email" class="form-control" value="{{d.email}}"  name="email" id="mail" required>
                        </div>
                        <div class="passwordbox">
                            <label for="inputpassword" class="form-label">Password</label>
                            <input type="password" class="form-control" value="{{d.password}}"  name="password" id="enterpassword" required>
                        </div>
                        <button type="submit" class="btn btn-primary" id="rcorner">Save</button>
                        <a class="btn btn-danger" role="button" id="cancelprofile">Cancel</a>
                    </form>
                </div>

            </div>

            
            <div class="container2" id="campaigns">
                <h2>Active Campaigns</h2>
                    {% if aad %}
                        {% for a in aad %}
                            <div class="showrequests">
                                <h5>{{ a.campaigns.name }}</h5>
                                <p>{{a.campaigns.description }}</p>
                                <p>Sponsor: {{a.campaigns.sponsor.company}}</p>
                                <p>Progress: {{a.campaigns.progress}} %</p>
                            </div>   
                        {% endfor %}
                    {% endif %}
            </div>

            <div class="container2">
                <h2>New Requests</h2>
                {% if ad %}
                    {% for a in ad %}
                        {% if a.last_modified_by == a.campaigns.sponsor.company %}
                            <div class="showrequests">
                                <h5>{{ a.campaigns.name }}</h5>
                                <p>{{a.campaigns.description }}</p>
                                <div class="showexistingcampaigns" style="display: none;">
                                    <p>Start date: {{ a.campaigns.start_date }}</p>
                                    <p>End date: {{ a.campaigns.end_date }}</p>
                                    <p>Budget: {{ a.campaigns.budget }}</p>
                                    <p>Category: {{a.campaigns.category}}</p>
                                    <p>Goals: {{ a.campaigns.goals }}</p>
                                    <p>Messages: {{ a.messages }}</p>
                                    <p>Requirements: {{ a.requirements }}</p>
                                    <p>Payment: {{ a.payment }}</p>
                                
                                    <div class="new_ad_request">
                                        <a class="btn btn-success ad-request" role="button">Modify and Send-Request</a>
                                        <!--<a class="btn btn-danger cancel-request" role="button" id="Cancel2">Cancel</a>-->
                                        <div class="Ad-Request" style="display: none;">
                                            <h2>Ad-Request</h2>
                                            <h5>{{ a.campaigns.name }}</h5>
                                            <p>{{ a.campaigns.description }}</p>
                                            <p>Category: {{a.campaigns.category}}</p>
                                            <p>Start date: {{ a.campaigns.start_date }}</p>
                                            <p>End date: {{ a.campaigns.end_date }}</p>
                                            <p>Last Modified By: {{ a.last_modified_by }}</p>
                                            <form class="row g-3" method="post" action="/modified_ad_request/{{a.id}}">
                                                <label for="messages" class="form-label">Messages</label>
                                                <input type="text" class="form-control" name="messages" id="messages" required>
                                                <label for="goals" class="form-label">Requirements</label>
                                                <input type="text" class="form-control" name="requirements" id="requirements" required>
                                                <label for="payment" class="form-label">Payment</label>
                                                <input type="text" class="form-control" name="payment" id="payment" required>
                                                <!--<label for="status" class="form-label">Status: </label>-->
                                                <button type="submit" class="btn btn-warning requested" id="rcorner">Request</button>
                                                <a class="btn btn-danger cancel-request" role="button" id="Cancel">Cancel</a>
                                            </form>
                                        </div>
                                    </div>

                                    

                                </div>
                                <a class="btn btn-info view-campaign" role="button" id="rcorner">View</a>
                                <a class="btn btn-dark edit-campaign" href="/accept_ad_request/{{a.id}}" role="button" id="Edit">Accept</a>
                                <a class="btn btn-warning close-campaign" role="button" id="Cancel">Close</a>
                                <a class="btn btn-danger delete-campaign" href="/reject_ad_request/{{a.id}}" role="button" id="Cancel">Reject</a>
                            </div>
                        {% endif %}
                    {% endfor %}
            {% endif %}
            </div>

            <div class="container2" id="find"> 
                <h2 class="c-top">Find</h2> 
                <div class="campaigns">
                    <form class="row g-3" method="post" action="/search_campaign/{{d.id}}">
                        <input type="text" class="form-control"  name="search-campaign" placeholder="Search Campaign by name, category..." required>
                        <button type="submit" class="btn btn-primary" id="rcorner">Search</button>
                    </form><br>
                </div>
            
            </div>

            <div class="container2" id="status">
                <h2 class="c-top">Status</h2> 
                {% if status %}
                    {% for s in status %}
                        <img src="/{{s}}" alt="{{ s }}">
                    {% endfor %}
                {% endif %}
            </div>
        {% else %}
        <div class="campaigns">
            <h1>You have been flagged due to inappropriate actions. Please contact Administrator.</h1>
        </div>
        {% endif %}
    </body>

    <script src="{{ url_for('static', filename='js/influencer_script.js') }}"></script>
</html>