<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Sponsor Dashboard
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}"/>   
    </head>
    <body>
        <header>
            <div class="Pic">
                <h3>Welcome {{d.company}}!</h3>
            </div>
            <nav>
                <ul>
                    <li><a href="#profile" id="Profile">Profile</a></li>
                    <li><a href="#find" id="Find">Find</a></li>
                    <li><a href="#campaigns" id="Campaigns">Campaigns</a></li>
                    <li><a href="#status" id="Status">Status</a></li>
                    <li><a href="/users" id="logout">Logout</a></li>
                </ul>
            </nav>
        </header>
        {% if d.flag==0 %}    
                <div class="container2" id="profile">
                    <h2>Profile</h2>
                    <div class = "details">
                            <div class="row border">
                                <label for="category" class="form-label"><b><i>Company:</i></b> {{d["company"]}}</label>
                            </div>
                            <div class="row border">
                                <label for="niche" class="form-label"><b><i>City:</i></b> {{d["city"]}}</label>
                            </div>
                            <div class="row border">
                                <label for="username" class="form-label"><b><i>Username:</i></b> {{d["username"]}}</label>
                            </div>
                            <div class="row border">
                                <label for="email" class="form-label"><b><i>Email:</i></b> {{d["email"]}}</label>
                            </div>
                            <a class="btn btn-primary" role="button" id="edit-profile">Edit Profile</a>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        <div class="alert alert-warning" id="alert">
                                {% for category, message in messages %}
                                <p>{{ message }}</p>
                                {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                    <div class = "showdetails" id="editprofile">
                        <form class="row g-3" method="post" action="/edit_sponsor_details/{{d.id}}">
                            <div class="row border">
                                <label for="category" class="form-label">Company</label>
                                <input type="text" class="form-control" value="{{d.company}}" name="company" id="company" required>
                            </div>
                            <div class="row border">
                                <label for="niche" class="form-label">City:</label>
                                <input type="text" class="form-control" value="{{d.city}}" name="city" id="city" required>
                            </div>
                            <div class="row border">
                                <label for="username" class="form-label">Industry: </label>
                                <input type="text" class="form-control" value="{{d.industry}}" name="industry" id="industry" required>
                            </div>
                            <div class="row border">
                                <label for="username" class="form-label">Budget: </label>
                                <input type="text" class="form-control" value="{{d.budget}}" name="budget" id="budget" required>
                            </div>
                            <div class="row border">
                                <label for="username" class="form-label">Username:</label>
                                <input type="text" class="form-control" value="{{d.username}}" name="username" id="username" required>
                            </div>
                            <div class="row border">
                                <label for="email" class="form-label">Email:</label>
                                <input type="text" class="form-control" value="{{d.email}}" name="email" id="email" required>
                            </div>
                            <div class="passwordbox">
                                <label for="inputpassword" class="form-label">Password</label>
                                <input type="password" class="form-control" value="{{d.password}}" name="password" id="enterpassword" required>
                            </div>
                            <button type="submit" class="btn btn-primary" id="rcorner">Save</button>
                            <a class="btn btn-danger" role="button" id="cancelprofile">Cancel</a>
                        </form>
                    </div>
                </div>
                <div class="container2" id="campaigns">
                    <h2>Active Campaigns</h2>
                        {% if aad %}
                            {% for a in aad %}
                                <div class="showrequests">
                                    <h5>{{ a.campaigns.name }}</h5>
                                    <p>{{a.campaigns.description }}</p>
                                    <p>Influencer ID: {{a.influencer_id }}</p>
                                    <p>Influencer Name: {{a.influencer.fname}} {{a.influencer.lname}}</p>
                                    <p>Progress: {{a.campaigns.progress}} %</p>
                                </div>   
                            {% endfor %}
                        {% endif %}
                </div>
                    <div class="container2">
                        <h2>New Requests</h2>
                        {% if rad %}
                            {% for a in rad %}
                                {% if a.status == "Pending" %}
                                    <div class="showreceivedrequests">
                                        <h5>{{ a.campaigns.name }}</h5>
                                        <p>{{a.campaigns.description }}</p>
                                        <div class="showexistingreceivedrequests" style="display: none;">
                                            <p>Start date: {{ a.campaigns.start_date }}</p>
                                            <p>End date: {{ a.campaigns.end_date }}</p>
                                            <p>Influencer ID: {{a.influencer_id}}</p>
                                            <p>Influencer Name: {{a.influencer.fname}} {{a.influencer.lname}}</p>
                                            <p>Messages: {{ a.messages }}</p>
                                            <p>Requirements: {{ a.requirements }}</p>
                                            <p>Requested Payment: {{ a.payment }}</p>
                                        </div>
                                        <a class="btn btn-info view-request" role="button" id="rcorner">View</a>
                                        <a class="btn btn-dark accept-request" href="/sponsor_accept_ad_request/{{a.id}}" role="button" id="Edit">Accept</a>
                                        <a class="btn btn-warning close-request" role="button" id="Cancel">Close</a>
                                        <a class="btn btn-danger reject-request" href="/sponsor_reject_ad_request/{{a.id}}" role="button" id="Cancel">Reject</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                    {% endif %}
                    </div>
            
                </div>

                <div class="container">
                    <a class="btn btn-dark" role="button" id="New">Add Campaign</a>
                    <div class="campaigns" id="newcampaign">
                        <form class="row g-3" method="post" action="/add_campaigns/{{d.id}}">
                            <div class="col-md-12">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                            <div class="col-md-12"> 
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" name="description" id="description" required>
                            </div>
                            <div class="col-md-6">
                            <label for="startdate" class="form-label">Start Date</label>
                            <input type="text" class="form-control" name="startdate" id="startdate" required>
                            </div>
                            <div class="col-md-6">
                                <label for="enddate" class="form-label">End Date</label>
                                <input type="text" class="form-control" name="enddate" id="enddate" required>
                            </div>
                            <div class="col-md-12"> 
                                <label for="budget" class="form-label">Budget (in $)</label>
                                <input type="text" class="form-control" name="budget" id="budget" required>
                            </div>
                            <div class="col-md-12"> 
                                <label for="budget" class="form-label">Category</label>
                                <input type="text" class="form-control" name="category" id="category" required>
                            </div>
                            <label for="visibility" class="form-label">Visibility</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="visibility" id="public" value="public">
                                <label class="form-check-label" for="public">
                                Public
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="visibility" id="private" value="private" checked>
                                <label class="form-check-label" for="private">
                                Private
                                </label>
                            </div>
                            <div class="col-md-12"> 
                                <label for="goals" class="form-label">Goals</label>
                                <input type="text" class="form-control" name="goals" id="goals" required>
                            </div>
                            <button type="submit" class="btn btn-primary" id="rcorner">Add</button>
                            <a class="btn btn-danger" role="button" id="Cancel">Cancel</a>
                        </form>
                    </div>
                </div>
                <div class="container2">
                    <h2>Your Campaigns</h2>
                    {% if c %}
                        {% for campaign in c %}
                            <div class="showcampaigns">
                                <h5>{{ campaign.name }}</h5>
                                <p>{{ campaign.description }}</p>
                                <div class="showexistingcampaigns" style="display: none;">
                                    <p>Start date: {{ campaign.start_date }}</p>
                                    <p>End date: {{ campaign.end_date }}</p>
                                    <p>Budget: {{ campaign.budget }}</p>
                                    <p>Category: {{campaign.category}}</p>
                                    <p>Visibility: {{ campaign.visibility }}</p>
                                    <p>Goals: {{ campaign.goals }}</p>
                                
                                    <div class="new_ad_request">
                                        <a class="btn btn-success ad-request" role="button" id="rcorner">Ad-Request</a>
                                        <!--<a class="btn btn-danger cancel-request" role="button" id="Cancel2">Cancel</a>-->
                                        <div class="Ad-Request" style="display: none;">
                                            <h2>Ad-Request</h2>
                                            <h5>{{ campaign.name }}</h5>
                                            <p>{{ campaign.description }}</p>
                                            <p>Category: {{campaign.category}}</p>
                                            <p>Start date: {{ campaign.start_date }}</p>
                                            <p>End date: {{ campaign.end_date }}</p>
                                            <form class="row g-3" method="post" action="/ad_request/{{campaign.id}}">
                                                <label for="category" class="form-label">Influencer (Enter the Influencer Id)</label>
                                                <input type="text" class="form-control" name="influencer_id" id="influencer_id" required>
                                                <a class="btn btn-danger" href="#find" role="button" id="Cancel">Find</a>
                                                <label for="messages" class="form-label">Messages</label>
                                                <input type="text" class="form-control" name="messages" id="messages" required>
                                                <label for="goals" class="form-label">Requirements</label>
                                                <input type="text" class="form-control" name="requirements" id="requirements" required>
                                                <label for="payment" class="form-label">Payment</label>
                                                <input type="text" class="form-control" name="payment" id="payment" required>
                                                <!--<label for="status" class="form-label">Status: </label>-->
                                                <button type="submit" class="btn btn-warning requested" id="rcorner">Request</button>
                                                <a class="btn btn-danger cancel-request" role="button" id="Cancel">Cancel</a>
                                            </form>
                                        </div>
                                    </div>   

                                </div>
                                <a class="btn btn-info view-campaign" role="button" id="rcorner">View</a>
                                <a class="btn btn-dark edit-campaign" role="button" id="Edit">Edit</a>
                                <a class="btn btn-warning close-campaign" role="button" id="Cancel">Close</a>
                                <a class="btn btn-danger delete-campaign" href="/delete_campaigns/{{campaign.id}}" role="button" id="Cancel">Delete</a>

                                <div class="editexistingcampaigns" id="editcampaigns">
                                    <form class="row g-3" method="post" action="/edit_campaigns/{{campaign.id}}">
                                        <div class="col-md-12">
                                        <label for="name" class="form-label">Name</label>
                                        <input type="text" class="form-control" name="name" id="name" value="{{ campaign.name }}" required>
                                        </div>
                                        <div class="col-md-12"> 
                                        <label for="description" class="form-label">Description</label>
                                        <input type="text" class="form-control" name="description" value="{{ campaign.description}}" id="description" required>
                                        </div>
                                        <div class="col-md-6">
                                        <label for="startdate" class="form-label">Start Date</label>
                                        <input type="text" class="form-control" name="startdate" value="{{ campaign.start_date }}" id="startdate" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="enddate" class="form-label">End Date</label>
                                            <input type="text" class="form-control" name="enddate" value="{{ campaign.end_date }}" id="enddate" required>
                                        </div>
                                        <div class="col-md-12"> 
                                            <label for="budget" class="form-label">Budget (in $)</label>
                                            <input type="text" class="form-control" name="budget" value="{{ campaign.budget}}" id="budget" required>
                                        </div>
                                        <div class="col-md-12"> 
                                            <label for="budget" class="form-label">Category</label>
                                            <input type="text" class="form-control" value="{{campaign.category}}" name="category" id="category" required>
                                        </div>
                                        <label for="visibility" class="form-label">Visibility</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="visibility" id="public" value="public">
                                            <label class="form-check-label" for="public">
                                            Public
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="visibility" id="private" value="private" checked>
                                            <label class="form-check-label" for="private">
                                            Private
                                            </label>
                                        </div>
                                        <div class="col-md-12"> 
                                            <label for="goals" class="form-label">Goals</label>
                                            <input type="text" class="form-control" name="goals" value="{{ campaign.goals }}" id="goals" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary" id="rcorner">Save</button>
                                        <a class="btn btn-danger cancel-edit" role="button" id="Cancel">Cancel</a>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>  
                
                <div class="container2">
                    <h2>Your Ad-Requests</h2>
                    {% if ad %}
                        {% for a in ad %}
                            <div class="showrequests">
                                {% if a.status=="Pending" %}
                                    <h5>{{ a.campaigns.name }}</h5>
                                    <p>{{a.campaigns.description }}</p>
                                    <p>Start date: {{ a.campaigns.start_date }}</p>
                                    <p>End date: {{ a.campaigns.end_date }}</p>
                                    <p>Campaign: {{ a.campaign_id }}</p> 
                                    <p>Category: {{a.campaigns.category}}</p>
                                    <p>Influencer: {{ a.influencer_id }}</p>
                                    <p>Status: {{ a.status }}</p>     
                                    <p>Last Modified By: {{ a.last_modified_by }}</p> 
                                    
                                        <a class="btn btn-success edit-request" role="button" id="rcorner">Edit Request</a>
                                        <a class="btn btn-danger delete-request" href="/delete_ad_request/{{a.id}}" role="button" id="Cancel">Delete Request</a>
                                        <div class="Edit-Ad-Request" style="display: none;">
                                            <h2>Ad-Request</h2>
                                            
                                            <form class="row g-3" method="post" action="/edit_ad_request/{{a.id}}">
                                                <label for="category" class="form-label">Influencer (Enter the Influencer Id)</label>
                                                <input type="text" class="form-control" name="influencer_id" value="{{ a.influencer_id }}" id="influencer_id" required>
                                                <a class="btn btn-danger" href="#find" role="button" id="Cancel">Find</a>
                                                <label for="messages" class="form-label">Messages</label>
                                                <input type="text" class="form-control" name="messages" value="{{ a.messages }}" id="messages" required>
                                                <label for="goals" class="form-label">Requirements</label>
                                                <input type="text" class="form-control" name="requirements" value="{{ a.requirements }}" id="requirements" required>
                                                <label for="payment" class="form-label">Payment</label>
                                                <input type="text" class="form-control" name="payment" value="{{ a.payment }}" id="payment" required>
                                                <!--<label for="status" class="form-label">Status: </label>-->
                                                <button type="submit" class="btn btn-warning edited" id="rcorner">Save Changes</button>
                                                <a class="btn btn-danger cancel-request-edit" role="button" id="Cancel">Cancel</a>
                                            </form>
                                        </div>
                            
                                {% else %}
                                    <h5>{{ a.campaigns.name }}</h5>
                                    <p>{{a.campaigns.description }}</p>
                                    <p>Influencer: {{ a.influencer_id }}</p>
                                    <p>Status: {{ a.status }}</p>     
                                {% endif %}
                            </div>
                            {% endfor %}
                    {% endif %}
                </div>
                <div class="container2" id="find">
                    <h2 class="c-top">Find</h2> 
                    <div class="campaigns">
                        <form class="row g-3" method="post" action="/search_influencer/{{d.id}}">
                            <input type="text" class="form-control"  name="search-influencer" placeholder="Search Influencer by name, category, niche..." required>
                            <button type="submit" class="btn btn-primary" id="rcorner">Search</button>
                        </form><br>
                    </div>
                </div>
                <div class="container2" id="status">
                    <h2 class="c-top">Status</h2> 
                    {% if status %}
                        {% for s in status %}
                            <img src="/{{s}}" alt="{{ s }}">
                        {% endfor %}
                    {% endif %}
                </div>
            {% else %}
            <div class="campaigns">
                <h1>You have been flagged due to inappropriate actions. Please contact Administrator.</h1>
            </div>
        {% endif %}
    </body>
    <script src="{{ url_for('static', filename='js/sponsor_script.js') }}"></script>
</html>